* {
    margin: 0;
    /* padding:0; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
}

.UYULogo {
    max-height: 7vh;
}

nav {
    height: auto;
    opacity: 1;
    font-size: 1.3vw;
}


.nav1 ul {
    list-style: none;
    margin: 0;
}

.nav1 li {
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
}

.Button {
    color: #000000;
    list-style: none;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
}

    .Button:hover {
        color: #000000;
        text-decoration: underline;
        list-style: none;
        font-family: "Bebas Neue", cursive;
    }

.cover {
    position: relative;
    width: 100vw;
    height: 100vh;
}

    .cover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("Cover.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        filter: brightness(60%);
    }

.cover-content {
    position: relative;
}

.cover {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-content {
    position: relative;
    font-family: "Bebas Neue", cursive;
    color: #FFFFFF;
    text-align: center;
    margin: 0.625rem;
}

.cover-title {
    font-size: 7vW;
    font-weight: 600;
    margin-bottom: 0;
}

.cover-subtitle {
    font-size: 2.5vh;
    font-size: 2.5vw;
    font-weight: 200;
    margin-top: 1rem;
}

.Content {
    font-family: "Oswald", sans-serif;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    font-family: "Oswald", sans-serif;
    font-size: 1.6vw;
    font-size: 1.6vw;
    margin-left: 10%;
    margin-right: 10%;
    color: #463f3a;
}


.subcontent {
    font-family: "Oswald", sans-serif;
    font-size: 1.3vw;
    font-size: 1.3vw;
    margin-left: 10%;
    margin-right: 10%;
    color: #463f3a;
}

.PDFV {
    width: 60vw;
    height: 90vh;
    text-align: center;
}


.imgL {
    width: 35vw;
    float: left;
    padding-right: 5%;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%
}


.imgMS {
    width: 30vw;
    margin: auto;
    padding: 1%;
    display: block;
}

.imgM {
    width: 40vw;
    margin: auto;
    padding: 1%;
    display: block;
}

.imgMl {
    width: 55vw;
    margin: auto;
    padding: 1%;
    display: block;
}

.imgMxl {
    width: 75vw;
    margin: auto;
    padding: 1%;
    display: block;
}

.imgR {
    width: 35vw;
    float: right;
    padding-right: 1%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%
}

.imgNote {
    font-family: "Bebas Neue", cursive;
    font-size: 1vw;
    font-size: 1vw;
    color: #463f3a;
    text-align: center;
    margin: 1%;
}

.imgColumn3 {
    float: left;
    width: 33.33%;
    padding: 1%;
}

.imgRow3::after {
    content: "";
    clear: both;
    display: table;
}

.imgColumn2 {
    float: left;
    width: 50%;
    padding: 1%;
}

.imgRow2::after {
    content: "";
    clear: both;
    display: table;
}

.vidPlayer {
    width: 80vw;
    margin: auto;
    display: block;
}

.header {
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
    color: #463f3a;
    text-align: center;
    margin: auto;
}

.subheader {
    font-family: "Bebas Neue", cursive;
    font-size: 3.1vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
    color: #463f3a;
    text-align: center;
    margin: auto;
}

.subsubheader {
    font-family: "Bebas Neue", cursive;
    font-size: 2.2vw;
    font-size: 2.2vw;
    color: #463f3a;
    text-align: center;
}

.subsubsubheader {
    font-family: "Bebas Neue", cursive;
    font-size: 1.6vw;
    color: #463f3a;
    text-align: center;
}


.Gallery {
    padding: 5%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.carousel-inner img {
    width: 100%;
}

.download {
    font-family: "Oswald", sans-serif;
    font-size: 1.5vw;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%
}

.Contact {
    margin-top: 5vh;
    background-color: white;
    padding: 1%;
    text-align: left;
    outline: 1vh solid black;
}

table {
    font-family: "Oswald", sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}


th, td {
    padding: 0.5%;
}

th {
    font-weight: bold;
}

.sidebar {
    height: auto;
    width: auto;
    position: fixed;
    margin-top: 20vh;
    margin-left: 93%;
    background-color: #f5f5f5;
    border-radius: 5%;
    text-align: center;
    font-family: "Bebas Neue", cursive;
}

    .sidebar a {
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 1vw;
        color: #000000;
        display: block;
        text-decoration: none;
    }

        .sidebar a:hover {
            color: #000000;
            text-decoration: underline;
        }
